services:
  postgres:
    image: postgres:16
    container_name: postgres-local
    ports:
      - "15432:5432"
    environment:
      POSTGRES_DB: grain_weighing
      POSTGRES_USER: user
      POSTGRES_PASSWORD: pass
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
